@charset "uft-8";

#content{padding-top: 90px;}
#mainVisual .controller{position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); width: 420px; height: 20px; z-index: 500;}
#mainVisual .swiper-pagination-bullet {
    width: 90px;
    height: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: #2699fb;
    opacity: 1;
}
#mainVisual .swiper-pagination-bullet-active {
    opacity: 1;
    background: #2699fb;
}
#mainVisual .swiper-pagination-bullet::after{content: ""; display: block; width: 100%; height: 100%; border-radius: 5px; background: #bce0fd; width: 0;}
#mainVisual .swiper-pagination-bullet-active::after{width: 100%; animation: bullet 5s backwards;}
.controller .swiper-auto-wrap button{position: absolute; right: 0; top: 0; font-size: 20px; color: #bce0fd;}
@keyframes bullet {
    0% {width: 0%;}
    100% {width: 100%;}
}

/* 본문 2,3 공통 */
.product_tab{display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content:center; justify-content:center; flex-wrap: wrap; margin:100px 100px;}
.product_tab .tabpanel{visibility: hidden; max-height: 0; overflow: hidden;}
.product_tab .tabpanel.active{visibility: visible; max-height: 1000px;}
.product_tab ul, .product_tab .tabpanel{width: 100%;}
.product_tab ul{display: flex; justify-content: space-around; padding: 60px 0;}
.product_tab ul li{text-align: center; cursor: pointer;}
.product_tab ul li:hover, .product_tab ul li:focus{color: #2699fb;}
.product_tab ul li img{transition: all 0.3s ease-out;}
.product_tab ul li:hover img, .product_tab ul li:focus img{transform: scale(1.1, 1.1); z-index: 9;}
.product_tab .tabpanel{position: relative; display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; justify-content: space-around; -webkit-align-items: center; align-items: center;}
#moniter .product_tab .tabpanel{flex-direction: row-reverse;}
.product_tab .panel img{width: 42%;}
.product_tab .panel_txt{width: 35%; line-height: 45px; font-size: 18px; text-align: center;}
.product_tab .panel_txt strong{font-size: 50px; display: block; padding-bottom: 30px; color: #4e3b3b;}
.product_tab .panel_txt p{text-align: left;}
.product_tab .panel_txt a{border: 2px solid #bce0fd; margin: 20px; padding: 5px 30px; transition: background 0.5s; color: #4e3b3b;}
.product_tab .panel_txt a:hover, .product_tab .panel_txt a:focus{background: #bce0fd; color: #fff;}

#event{width: 100%; position: relative; margin: 130px 0;}
#event h3{font-size: 80px; text-align: center; color: #4e3b3b;}
#event .all{position: absolute; right: 48.1%; margin: 40px 0; color: #2699fb;}
#event ul{display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -ms-flexbox; display: flex; justify-content: space-between; width:80%; margin: 4% auto;}
#event ul li{cursor: pointer; padding: 30px;}
#event ul li:hover a, #event ul li:focus a{color: #2699fb;}
#event ul li img{width: 100%; transition: all 0.3s ease-out;}
#event ul li:hover img, #event ul li:focus img{transform: scale(1.1, 1.1); z-index: 9;}
#event ul li a{font-size: 20px; margin: 30px 0;}
#event ul li .e_txt_container{background-color: #f5f5f5; width:100%;}
#event ul li .img_box{overflow: hidden; width:100%;}

@media screen and (max-width: 1280px){
    #event ul{width: 90%;}
}
@media screen and (max-width: 1080px){
    #content{width: 100%; padding-top: 70px;}
    .main_tab {display: none;}
    #event{width: 100%;}
    #event h3, #event .all{display: none; overflow: hidden;}
    #event ul{display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-direction: column; align-items: center;}
    
}

